.idea/*
.ipynb_checkpoints/*
imitation_runs/*
classic_policies/*
train_scripts/*
policyopt/*.pyc
outputs/*
outputs*/*
plots/*
plots_gail/*
csvs/*
evaluation_cosine/*
evaluation_gail/*
evaluation_gmmil/*
*.png
*.sh
*.swp
*.pyc
*.csv
cartpole-seed0.h5
gail-reacher-test.h5
gmmil-humanoid-traj240-batch250-median3.h5
gmmil-humanoid-traj240-batch250.h5
submit
submit_*
gputest.py
.nfs*
